# Created by Vercel CLI
CLERK_SECRET_KEY=
DATABASE_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
TRANSLOADIT_AUTH_KEY=
TRANSLOADIT_AUTH_SECRET=
TRIGGER_PROJECT_ID=
TRIGGER_SECRET_KEY=
VERCEL_OIDC_TOKEN=
GEMINI_API_KEY=
