NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmVmaW5lZC10YWhyLTk2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_4aJb83u8sIWF5WsQamnQxqDZOlzrS6UTpNX2JT2eKq
DATABASE_URL=postgresql://neondb_owner:npg_jkMLJnV9lm2z@ep-soft-cake-a4eszj2l-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
GEMINI_API_KEY=AIzaSyBLNn22sg-vgPTAK-ctDmAdukwfVCKmNec
TRIGGER_PROJECT_ID=proj_lwbrzpgcajzpeisxnmss
TRIGGER_SECRET_KEY=tr_dev_sbfjOEnH2ec0Ov6EfYAZ
TRANSLOADIT_AUTH_KEY=79466df4025044c94795b8b0bd014c0a
TRANSLOADIT_AUTH_SECRET=4ebfcf6bf918ce5114fca3867d488537d2e54fce
